<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Moschino | Minimalist Free HTML Portfolio by WowThemes.net</title>
  <link rel='stylesheet' href='/css/woocommerce-layout.css' type='text/css' media='all'/>
  <link rel='stylesheet' href='/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)'/>
  <link rel='stylesheet' href='/css/woocommerce.css' type='text/css' media='all'/>
  <link rel='stylesheet' href='/css/font-awesome.min.css' type='text/css' media='all'/>
  <link rel='stylesheet' href='/style.css' type='text/css' media='all'/>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all'/>
  <link rel='stylesheet' href='/css/easy-responsive-shortcodes.css' type='text/css' media='all'/>
</head>
<body class="single single-product woocommerce woocommerce-page">
<div id="page">
  <div class="container">
    <header id="masthead" class="site-header">
      <div class="site-branding">
        <h1 class="site-title"><a href="/" rel="home">Moschino</a></h1>
        <h2 class="site-description">Minimalist Portfolio HTML Template</h2>
      </div>
      <nav id="site-navigation" class="main-navigation">
        <button class="menu-toggle">Menu</button>
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
        <div class="menu-menu-1-container">
          <ul id="menu-menu-1" class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/">Shop</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Elements</a></li>
            <li><a href="#">Pages</a>
              <ul class="sub-menu">
                <li><a href="#">Portfolio Item</a></li>
                <li><a href="#">Blog Article</a></li>
                <li><a href="#">Shop Item</a></li>
                <li><a href="#">Portfolio Category</a></li>
              </ul>
            </li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- #masthead -->
    <div id="content" class="site-content">
      <div id="primary" class="content-area column full">
        <main id="main" class="site-main" role="main">
          <div id="container">
            <div id="content" role="main">
              <nav class="woocommerce-breadcrumb" itemprop="breadcrumb"><a href="#">Home</a> / <a href="#">Clothing</a> / {{item.name}}</nav>
              <div itemscope itemtype="http://schema.org/Product" class="product">
                <div class="images">
                  <a href="" itemprop="image" class="woocommerce-main-image zoom" title="" data-rel="prettyPhoto">
                    <img src="{{item.picture}}" alt="{{item.name}}"></img></a>
                </div>
                <div class="summary entry-summary">
                  {% if orderQuantity >= 1%}
                    <div style="padding: 20px; background-color: #04AA6D; color: white; opacity: 1; transition: opacity 0.6s; margin-bottom: 15px;">
                      <strong>Success!</strong> You have bought {{orderQuantity}} {{item.name}}.
                    </div>
                  {% endif %}
                  {% if cancelled %}
                    <div style="padding: 20px; background-color: #ff9800; color: white; opacity: 1; transition: opacity 0.6s; margin-bottom: 15px;">
                      <strong>Warning!</strong> Payment cancelled, it might need your attention.
                    </div>
                  {% endif %}
                  <h1 itemprop="name" class="product_title entry-title">{{item.name}}</h1>
                  <div class="woocommerce-product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <a href="#reviews" class="woocommerce-review-link" rel="nofollow">(<span itemprop="reviewCount" class="count">2</span> customer reviews)</a>
                  </div>
                  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <p class="price">
                      <span class="amount">${{ (item.price / 100).toFixed(2) }}</span>
                    </p>
                    <meta itemprop="price" content="{{ item.price / 100 }}"/>
                    <meta itemprop="priceCurrency" content="USD"/>
                    <link itemprop="availability" href="http://schema.org/InStock"/>
                  </div>
                  <div itemprop="description">
                    <p>
                      {{item.description}}
                    </p>
                  </div>
                  <form action="/buy/items/" class="cart" method="post">
                    <div class="quantity">
                      <input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4"/>
                    </div>
                    <input type="hidden" name="id" value="{{item.id}}">
                    <button type="submit" class="single_add_to_cart_button button alt"> Buy now</button>
                  </form>
                  <div class="product_meta">
									<span class="posted_in">Categories:
									<a href="#" rel="tag">Clothing</a>,
									<a href="#" rel="tag">{{item.name}}</a>
									</span>
                  </div>
                </div>
                <!-- .summary -->
                <div class="woocommerce-tabs wc-tabs-wrapper">
                  <div class="panel entry-content wc-tab" id="tab-description">
                    <h2>Product Description</h2>
                    <p>
                      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                    </p>
                  </div>
                  <div class="panel entry-content wc-tab" id="tab-reviews">
                    <div id="reviews">
                      <div id="comments">
                        <h2>2 Reviews for Beige Jacket</h2>
                        <ol class="commentlist">
                          <li itemprop="review" itemscope itemtype="http://schema.org/Review" class="comment">
                            <div id="comment-3" class="comment_container">
                              <img alt='' src='http://0.gravatar.com/avatar/c7cab278a651f438795c2a9ebf02b5ae?s=60&#038;d=mm&#038;r=g' srcset='http://0.gravatar.com/avatar/c7cab278a651f438795c2a9ebf02b5ae?s=120&amp;d=mm&amp;r=g 2x' class='avatar avatar-60 photo' height='60' width='60'/>
                              <div class="comment-text">
                                <p class="meta">
                                  <strong itemprop="author">Steve</strong> &ndash; <time itemprop="datePublished" datetime="2013-06-07T15:54:25+00:00">June 7, 2013</time>:
                                </p>
                                <div itemprop="description" class="description">
                                  <p>
                                    I like the logo but not the color.
                                  </p>
                                </div>
                              </div>
                            </div>
                          </li>
                          <!-- #comment-## -->
                          <li itemprop="review" itemscope itemtype="http://schema.org/Review" class="comment">
                            <div id="comment-4" class="comment_container">
                              <img alt='' src='http://2.gravatar.com/avatar/59c82b1d2c60537f900fb191b3cb611b?s=60&#038;d=mm&#038;r=g' srcset='http://2.gravatar.com/avatar/59c82b1d2c60537f900fb191b3cb611b?s=120&amp;d=mm&amp;r=g 2x' class='avatar avatar-60 photo' height='60' width='60'/>
                              <div class="comment-text">
                                <p class="meta">
                                  <strong itemprop="author">Maria</strong> &ndash; <time itemprop="datePublished" datetime="2013-06-07T15:54:25+00:00">June 7, 2013</time>:
                                </p>
                                <div itemprop="description" class="description">
                                  <p>
                                    Three letters, one word: WOO!
                                  </p>
                                </div>
                              </div>
                            </div>
                          </li>
                          <!-- #comment-## -->
                        </ol>
                      </div>
                      <div class="clear">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <!-- #main -->
      </div>
      <!-- #primary -->
    </div>
    <!-- #content -->
  </div>
  <!-- .container -->
  <footer id="colophon" class="site-footer">
    <div class="container">
      <div class="site-info">
        <h1 style="font-family: 'Herr Von Muellerhoff';color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px;">Moschino</h1>
        <a target="blank" href="https://www.wowthemes.net/">&copy; Moschino - Free HTML Template by WowThemes.net</a>
      </div>
    </div>
  </footer>
  <a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
</div>
<!-- #page -->
<script src='js/jquery.js'></script>
<script src='js/plugins.js'></script>
<script src='js/scripts.js'></script>
<script src='js/masonry.pkgd.min.js'></script>
</body>
</html>